.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.techStackList {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(4, 1fr);
  padding: 16px;
}

@media screen and (max-width: 900px) {
  .techStackList {
    grid-template-columns: repeat(2, 1fr);
  }
}

.techStackItem {
  width: 100%;
}
